@import url('./layout.css');
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 4, 4);
  }

  header {
    float: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  main {
    width: 270px;
    border: 1px solid black;
      }

      aside, h2, ul, li, {
        float: right;
      }

      table {
        border-collapse: collapse;
        
      }
      
      td, th {
       border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      
      }
      
      th{
      font-size: 40px;
      background-color: #ffffff;
      }
      
      tr:nth-child(odd) {
        background-color: #6a6a6a;
      }

      
  
  